.container {
  padding: 30px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  max-width: 1080px;
}

.logo {
  height: 150px;
  border-radius: 200px;
  margin-top: 120px;
  margin-bottom: 150px;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}
