.container{
    padding: 0 14px;

}
.center{
    text-align: center;
    margin-bottom: 14px;
}
.content{
    max-width: 420px;
    background-color: #32323f;
    margin: 24px auto;
    padding: 24px;
    border-radius: 10px;
}
.content p{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.content p:not(:last-of-type){
    margin-bottom: 16px;
}

.profit{
    color: #12f98a;
}

.loss{
    color: #f91257;
}